<!-- layouts/partials/footer.html -->
<footer>
    <div class="footer-content" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="communication-info" style="margin-top: 10px; font-size: 12px;">
            <p style="margin-bottom: 5px; font-weight: bold;">Contact</p>
            <p style="margin: 0;">NCSR Demokritos, Institute of Informatics & Telecommunications, P.O. box 60037, 15310 Aghia Paraskevi, Athens, Greece</p>
        </div>
        <div style="display: flex; align-items: center; margin-left: 10px;">
            <img src="/id-is_logo.png" alt="Logo 1" style="width: 80px; margin-left: 10px;">
            <img src="/ncsr.png" alt="Logo 1" style="width: 80px; margin-left: 10px;">
            <img src="/ipt.png" alt="Logo 2" style="width: 80px; margin-left: 10px;">
        </div>
    </div>
</footer>
