.container {
  margin: 0 auto;
  // Adjusting the max-width to increase page width. 
  // The original file path - `/<website-root>/themes/<theme-name>/assets/scss/..`
  // max-width: 90rem;
  max-width: 10rem;
  width: 10%;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Reduce top padding for the body */
body {
  padding-top: 1px; /* Adjust the value as needed */
}

/* Menu Styles */
.menu__item {
  // Existing styles for menu items
  
  &.active .menu__link {
    font-weight: bold;
    text-decoration: underline;
    color: #ff3c00; /* Adjust the color as needed */
  }
}
