---
layout: index
title: Projects | Intelligent Data-Intensive Systems
tagline: 
tags : 
img : 
img-mobile : 
css: 
js:
keywords: 
canonical: 
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
    <div class="container">
        <!-- Content Area Start -->
        <div id="content">
          <div class="container">
              <div class="page-header-title">
                  <h1 class="heading-title text-center">Projects</h1>
              </div>
              {% for c in site.ContentProjects.CurrentProjects %}
              <ol><li><img style="width:20%;" src="{{ c.Image }}" alt=""></li></ol>
              <ol><li><i>{{ c.Name }}</i></li></ol>
              <ol><li><strong>{{ c.From }} - {{ c.To }}</strong> </li></ol>
              <ol><li>{{ c.Description }}</li></ol>
              {% endfor %}
              <div class="mb-60"></div>
          </div>
        </div>
        <div class="mb-60"></div>
    </div>
</div>
