---
layout: index
title: Webinars | Intelligent Data-Intensive Systems
tagline: 
tags : 
img : 
img-mobile : 
css: 
js:
keywords: 
canonical: 
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
    <div class="container">
        <!-- Content Area Start -->
        <div id="content">
          <div class="container">
              <div class="page-header-title">
                  <h1 class="heading-title text-center">Webinars</h1>
              </div>
              {% for web in site.ContentWebinars.CurrentWebinars %}
              <ol><li><strong><a href="{{web.Link}}">{{ web.Name }}</strong></a></li></ol>
              <ol><li><i>{{ web.Author }}</i> </li></ol>
              <ol><li><i>{{ web.Date }}</i> </li></ol>
              <ol><li>{{ web.Description }}</li></ol>
              <ol><li><img style="width:20%;" src="{{ web.Image }}" alt=""></li></ol>
              {% endfor %}
              <div class="mb-60"></div>
          </div>
        </div>
        <div class="mb-60"></div>
    </div>
</div>
